html,
body {

    margin: 0;
    padding: 0;
    height: 100%;
}

body {

    background-color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px;
}

.nav-list {

    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    z-index: 10;
    position: relative;
    gap: 20px;
}

.nav-list a {

    display: block;
    padding: 15 20px;
    text-decoration: none;
    color: aliceblue;
    font-size: 18px;
    text-align: center;
}

.nav-list a:hover {

    background-color: rgba(101, 99, 99, 0.3);
    border-radius: 16px;
}