html,
body {

    margin: 0;
    padding: 0;
    height: 100%;
}

body {

    background-color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0
}

.nav-list {

    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    position: relative;
    gap: 20px;
    flex-direction: column;
    margin-top: 200px;
}

.nav-list a {

    display: block;
    padding: 15px 20px;
    text-decoration: none;
    color: aliceblue;
    font-size: 18px;
    text-align: center;
}

.nav-list a:hover {

    background-color: rgba(101, 99, 99, 0.3);
    border-radius: 16px;
}



.aurora-container {
    position: relative;
    min-height: 100vh;
    overflow: hidden;
    background: #020617;

    color: white;

}


.aurora-container::before {
    content: "";
    position: absolute;
    inset: -20%;


    background:
        radial-gradient(circle at 0% 0%, rgba(96, 165, 250, 0.6), transparent 55%),
        radial-gradient(circle at 100% 0%, rgba(244, 114, 182, 0.6), transparent 55%),
        radial-gradient(circle at 0% 100%, rgba(52, 211, 153, 0.6), transparent 55%),
        radial-gradient(circle at 100% 100%, rgba(129, 140, 248, 0.6), transparent 55%);

    filter: blur(80px);
    opacity: 0.8;
    animation: auroraMove 24s linear infinite;
    pointer-events: none;

}


@keyframes auroraMove {
    0% {
        transform: translate3d(0, 0, 0) scale(1);
    }

    50% {
        transform: translate3d(-10%, -5%, 0) scale(1.1);
    }

    100% {
        transform: translate3d(0, 0, 0) scale(1);
    }
}