html,
body {

    margin: 0;
    padding: 0;
    height: 100%;
}


body {

    /*Declaring font for index*/
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0
}

.nav-list {

    /*Styling the navigation bar: centering it, making it vertical, etc. */
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    position: relative;
    gap: 20px;
    flex-direction: column;
    margin-top: 200px;
}

.nav-list a {

    /*Styling the text in the nav bar, giving each line more space and declaring white as the colour */
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    color: aliceblue;
    font-size: 18px;
    text-align: center;
}

.nav-list a:hover {

    /*Adding a hover element to the nav bar text, so that when the cursor is over a specific option, it is encased in a grey box */
    background-color: rgba(101, 99, 99, 0.3);
    border-radius: 16px;
}



.aurora-container {

    /*Container for the animated background of the page */
    position: relative;
    min-height: 100vh;
    overflow: hidden;
    background: #020617;

    color: white;

}


.aurora-container::before {

    /*Actually creating the content of the background. It is comprised of numerous radial gradients in each corner of the screen. Made to move on "loop" */
    content: "";
    position: absolute;
    inset: -20%;


    background:
        radial-gradient(circle at 0% 0%, rgba(0, 140, 255, 0.6), transparent 55%),
        radial-gradient(circle at 100% 0%, rgba(0, 255, 64, 0.6), transparent 55%),
        radial-gradient(circle at 0% 100%, rgba(187, 0, 0, 0.6), transparent 55%),
        radial-gradient(circle at 100% 100%, rgba(247, 0, 255, 0.6), transparent 55%);

    filter: blur(80px);
    opacity: 0.8;
    animation: auroraMove 24s linear infinite;
    pointer-events: none;

}


@keyframes auroraMove {

    /*Frames of the animation, changing the scale of each radial gradient */
    0% {
        transform: translate3d(0, 0, 0) scale(1);
    }

    50% {
        transform: translate3d(-10%, -10%, 0) scale(1.1);
    }

    100% {
        transform: translate3d(0, 0, 0) scale(1);
    }
}